<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Fieldy Login Test">
	<test name="Login TestCases">
		<classes>
			<class name="com.zaigo.reactui.LoginTestCases" />
			<class name="com.zaigo.reactui.EditDetailScreenCompaniesTestCases" />
			<class name="com.zaigo.reactui.CreateContractorTestCases" />
			<class name="com.zaigo.reactui.CreateUserTestCases" />
			<class name="com.zaigo.reactui.SendInviteTestCases" />
			<class name="com.zaigo.reactui.EditContractorCompaniesTestCases" />
			<class name="com.zaigo.reactui.EditUserTestCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->